img {
    altura : 400 px ;
    largura : 300 px ;
    raio da borda : 10 px ;
}

section {
    display : flex;
    justificar o conteúdo : centro;
}

. tipodecomida {
    cor : azul;
    borda : 2 px em azul sólido;
    display : bloco embutido;
    preenchimento : 5 px ;
}

ul  li : enésimo filho ( 1 ) {
    cor : vermelho;
}

h1  >  span {
    estilo da fonte : itálico;
}